---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Page.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();

  return dateB - dateA;
});
---

<Layout title={"All Posts"} description={"all blog posts"}>
  <div class="font-inter flex flex-col gap-8">
    {
      posts.map((post, index) => (
        <a href={`/blog/${post.id}/`} class="group block cursor-pointer">
          <div class="flex items-start gap-2">
            <span class="shrink-0 pt-1 text-sm text-white opacity-70 transition-opacity group-hover:opacity-100">
              {String(posts.length - index + 1).padStart(2, "0")}.
            </span>

            <div class="flex flex-col">
              <h3 class="text-neon decoration-neon mb-1 text-lg leading-tight font-bold transition-all group-hover:underline group-hover:underline-offset-4 md:text-xl">
                {post.data.title}
              </h3>

              <span class="text-xs text-gray-400">
                <FormattedDate date={post.data.pubDate} />
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
