---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<p>
	Hi, I'm Abhijit 👋. A programmer, blogger, and cinephile from India. <br /><br />

	I'm an undergraduate student who loves computers, and I do a fair bit of <a href="#">recreational programming</a> on
	the side. I have a lot of interests, honestly, maybe too many.<br /><br />

	I write blogs when inspiration hits, but DSA problem solving and meditation are a part of my daily
	routine.<br /><br />

	Occasionally, I cook, <a href="#">sing or write hindi songs</a>, and watch anime when I have the time. I also play Stardew
	Valley once in a while, even though I'm not much of a gamer otherwise.<br /><br />

	You can find me on <a href="#">GitHub</a>, <a href="#">Linkedln</a>, and <a href="#">X</a>.<br /><br />

	This website is where I put it all together, my projects, my writing, my thoughts, all of it.<br /><br />

	No Al was used in making this website. Everything here is handmade.<br /><br />
</p>
