---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<p>
	Hi, I'm Abhijit 👋. A programmer, blogger, and cinephile from India. <br /><br />

	I'm an undergraduate student who loves computers, and I do a fair bit of <a href="https://github.com/thexeromin/js-experiments" target="_blank" rel="noopener noreferrer">recreational programming</a> on
	the side. I have a lot of interests, honestly, maybe too many.<br /><br />

	I write blogs when inspiration hits, but DSA problem solving and meditation are a part of my daily
	routine.<br /><br />

	Occasionally, I cook, play bamboo flute, sing or write hindi songs, and <a href="https://anilist.co/user/xeromin/animelist" target="_blank" rel="noopener noreferrer">watch anime</a> when I have the time. I also play <a href="https://www.stardewvalley.net/" target="_blank" rel="noopener noreferrer">Stardew
		Valley</a> once in a while, even though I'm not much of a gamer otherwise.<br /><br />

	You can find me on <a href="https://github.com/thexeromin" target="_blank" rel="noopener noreferrer">GitHub</a>, <a href="https://www.linkedin.com/in/thexeromin/" target="_blank" rel="noopener noreferrer">Linkedln</a>, and <a href="https://x.com/thexeromin" target="_blank" rel="noopener noreferrer">X</a>.<br /><br />

	This website is where I put it all together, my projects, my writing, my thoughts, all of it.<br /><br />

	No Al was used in making this website. Everything here is handmade.<br /><br />
</p>
