@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  /* Fonts */
  --font-major-display: "Major Mono Display", monospace;
  --font-dm-mono: "DM Mono", monospace;
  --font-inter: "Inter Variable", sans-serif;

  /* Colors */
  --color-dark-base: #1d232a;
  --color-neon: #605dff;
  --color-ice: #ecf9ff;
  --color-surface: #191e24;
}

@layer base {
  body {
    @apply bg-dark-base text-white;
    min-height: 100vh;
  }

  /* Desktop Links */
  .nav-link {
    @apply font-dm-mono text-sm tracking-widest text-white transition-all duration-300;
    /* Hover Styles */
    @apply hover:underline hover:decoration-white hover:decoration-1 hover:underline-offset-4;
  }

  /* Mobile Links */
  .mobile-link {
    @apply font-major-display text-2xl tracking-widest text-white transition-all duration-300;
    /* Hover Styles */
    @apply hover:underline hover:decoration-white hover:decoration-1 hover:underline-offset-8;
  }
}
