---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
  hideTitle: boolean;
}

const { title, description, hideTitle = false } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main class="w-full px-6">
      <section class="mx-auto w-full max-w-2xl pt-12">
        {
          !hideTitle && (
            <h2 class="font-dm-mono text-ice mb-4 inline-block pb-4 text-3xl md:text-4xl">
              {title}
            </h2>
          )
        }

        <slot />
      </section>
    </main>

    <Footer />
  </body>
</html>
